.topico {
    display: block;
    margin: auto;
    width: 50%;
}
.text_input_pesquisa{
    width: 30% !important;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #151818;
    border-radius: 10px;
}
::-webkit-scrollbar
{
    width: 10px;
    background-color: #151818;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #151818;
    background-image: -webkit-linear-gradient(top,
    #ffa700 0%,
    #ffad09 50%,
    #ffb417 51%,
    #ffba24 100%);
}
.containerSpace{
    width: 80%; margin-top: -5%
}


.logo_name{
    color: green;
}
li.active_ice{
    background-color: #ffa700;

}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffa700;
    border: 0px solid #ddd;
    border-radius: 15px;
}


.btn-second {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-family: 'Play', Arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.015s linear;
    -o-transition: all 0.015s linear;
    transition: all 0.015s linear;
    z-index: 1;
    border-color: #ffa700;
    background-color: #1b1b1b !important;
}

a.active_ice{
    color: black;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #181919;
    border: 1px solid #242727;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail .caption {
    padding: 9px;
    color: rgb(255, 167, 0);
}
.progress-oyg-np-0{

}
.progress-oyg-np-1{
    cursor: pointer !important;
    background-color: #a5a5a5 !important;
    width: 10% !important;
}
.progress-oyg-np-2{
    cursor: pointer !important;
    background-color: #3ed625 !important;
    width: 20% !important;
}
.progress-oyg-np-3{
    cursor: pointer !important;
    background-color: #3ed625 !important;
    width: 30% !important;
}
.progress-oyg-np-4{
    cursor: pointer !important;
    background-color: #ffea00 !important;
    width: 40% !important;
}
.progress-oyg-np-5{
    cursor: pointer !important;
    background-color: #ffea00 !important;
    width: 50% !important;
}
.progress-oyg-np-6{
    cursor: pointer !important;
    background-color: #ffea00 !important;
    width: 60% !important;
}
.progress-oyg-np-7{
    cursor: pointer !important;
    background-color: #ffea00 !important;
    width: 70% !important;
}
.progress-oyg-np-8 {
    cursor: pointer !important;
    background-color: #ff5b00 !important;
    width: 80% !important;
}
.progress-oyg-np-9{
    cursor: pointer !important;
    background-color: #ff5b00 !important;
    width: 90% !important;
}
.progress-oyg-np-10{
    cursor: pointer !important;
    background-color: #d40000 !important;
    width: 100% !important;
}
.progress-bar {
    cursor: pointer !important;
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #242727;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar:hover{
    cursor: pointer !important;
}
.progress:hover{
    cursor: pointer !important;
}
body {
    font-family: 'Play', Arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #242727;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #191919;
}
.page-header{
    margin-top:10%;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #242727;
    background-color: transparent;
}


.navbar-default .navbar-brand {
    color: #ffa700;
}

.navbar-nav > li > a:hover {
    background-image: -webkit-linear-gradient(#020202, #101112 40%, #191b1d) !important;
    background-image: linear-gradient(#ffa700, #ffa700, #ffd078) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202', endColorstr='#ff191b1d', GradientType=0) !important;
    filter: none;
    border-left-color: transparent !important;
}
a:hover, a:focus {
    color: #196aff;
}
.dropdown-menu > li > a {
    display: block !important ;
    padding: 3px 20px !important;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}

.oyg_input:focus {
    border-bottom: 2px solid rgb(255, 167, 0);
}

.oyg_input {
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(255,255,255);
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
.navbar-default:hover .navbar-brand:hover {
    color: #ffffff;
}
.page-header {
    padding-bottom: 9px;
    border-bottom: 1px solid #191919;
}
.navbar {
    background-image: linear-gradient(#151515, #151515 60%, #151515);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff484e55', endColorstr='#ff313539', GradientType=0);
    filter: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: none;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #2b2e32;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #151515;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#151515 0,#232323 100%);
    background-image: -o-linear-gradient(top,#dbdbdb 0,#e2e2e2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#151515),to(#232323));
    background-image: linear-gradient(to bottom,#151515 0,#232323 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #151515;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
li.barrinha > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
li.barrinha > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.modal-content {
    position: relative;
    background-color: #191919;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.btn-default:hover {
    color: #333;
    background-color: #0fc508;
    border-color: #0abe0d;
}
.btn-primary:active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #329028;
    border-color: #207421;
}
.sweet-alert {
    background-color: #e6e6e6 !important;
    font-family: 'Play', Arial, Helvetica Neue, Helvetica, Verdana, sans-serif !important;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;
}
#data_chat{
    color: #ffd890;
}
.text_show{
    resize: none;
    display: block;
    width: 97%;
    height: 20%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    word-break: break-all;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 2px solid #1d1c1c;
}
.table-hover > tbody > tr:hover {
    background-color: #393636;
}
#show_{
    padding-bottom: 10px;
    background-color: rgba(1, 1, 9, 0.93) !important;
    color: #dfffff;
    width: 100%;
    border: solid;
    border-color: #2b2e32;
    overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
    width: 100%;
    word-break: break-all;
}
.btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-family: 'Play', Arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #fff !important;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.015s linear;
    -o-transition: all 0.015s linear;
    transition: all 0.015s linear;
    z-index: 1;
    border-color: #ffa700;
    background-color: #ffa700;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0px;
}
.btn-bd {
    border-width: 1px;
    border-style: solid;
}
.btn:hover{
    border-color: #ffa700;
}
.btn-md {
    font-size: 18px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 3px;
}
.btn-bd.btn-primary {
    -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,.34), 0 0 0 1px rgba(255, 186, 36, 0.75) !important;
    -moz-box-shadow: 1px 2px 10px rgba(0,0,0,.34), 0 0 0 1px rgba(186,105,2,.75) !important;
    box-shadow: 1px 2px 10px rgba(0,0,0,.34), 0 0 0 1px rgba(255, 186, 36, 0.75) !important;
}
.btn-primary:before {
    background-image: -webkit-linear-gradient(top, #f8ca1f 0%, #c97913 100%) !important;
    background-image: -o-linear-gradient(top, #f8ca1f 0%, #c97913 100%) !important;
    background-image: linear-gradient(to bottom, #f8ca1f 0%, #c97913 100%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8ca1f', endColorstr='#ffc97913', GradientType=0);
}
.h_nav, .h_bar {
    white-space: nowrap;
}
.h_nav, .h_bar-login {
    font-size: 0;
    font-family: 'Play', Arial, Helvetica Neue, Helvetica, Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.h_bar-btn {
    float: right;
}
.btn-primary {
    background-image: -webkit-linear-gradient(rgba(54, 187, 24, 0.5), rgba(81, 228, 41, 0.5) 60%, rgba(66, 195, 24, 0.5)) !important;
    background-image: linear-gradient(rgb(255, 167, 0), rgb(255, 167, 0) 60%, rgb(255, 167, 0)) !important;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
    filter: none;
}

.btn-primary:hover {
    background-image: -webkit-linear-gradient(rgba(54, 187, 24, 1), rgba(81, 228, 41, 1) 60%, rgba(66, 195, 24, 1)) !important;
    background-image: linear-gradient(rgb(255, 167, 0), rgb(255, 167, 0) 60%, rgb(255, 199, 92)) !important;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8a9196', endColorstr='#ff70787d', GradientType=0);
    filter: none;
}

.btn-primary:focus, .btn-primary:hover {
    background-position: 0px;
}
.h_nav a, .h_bar a {
    position: relative;
}
.spacePls{
    padding-top: 15%;
}

